#brand{
    margin-top:-14px;
}
body{
    padding-top:60px;
    font-family:'微软雅黑',"Arial","黑体","宋体",sans-serif;
    background-color: #eee;
}
h1,h2{
    font-weight:bold;
}
.index_article{
    padding-bottom:20px;
}
.index_tag,.index_date{
    padding-bottom:16px;
}
.index_user{
    margin-right:16px;
}
#user{
    padding-left:40px;
}
.last_page{
    float: left;
}
.next_page{
    float: right;
}
.current{
    display: inline-block;
    width:30px;
}

