<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>F.H.J's Blog</title>
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'article/css/style.css' %}">
    <link rel="icon" href="{% static 'article/img/title.gif' %}">
    <script src="{% static 'lib/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'article:index' %}">
            <img src="{% static 'article/img/brand.jpg' %}" id="brand">
        </a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'article:index' %}">首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类阅读<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for category in category_list %}
                        <li class="divider"></li>
                        <li><a href="{% url 'article:category' category.pk %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{% url 'article:rss' %}">RSS</a></li>
            <li><a href="#">其他</a> </li>
        </ul>
        <form class="navbar-form pull-right" method="get" action="{% url 'article:search' %}">
            <input class="form-control" type="text" name='s' placeholder="Search">
            <button class="btn btn-success" type="submit">搜索</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="col-md-9">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-md-3">
        <div id="user">
            <a class="btn btn-success btn-md col-md-4 index_user" href="{% url 'article:register' %}">注册</a>
            <a class="btn btn-success btn-md col-md-4 index_user" href="{% url 'article:login' %}">登录</a>
        </div>
        <br/><br/>
        <ul>
            {% for tag in tag_list %}
                <li class="index_tag"><a class="btn btn-info btn-sm col-md-9" href="{% url 'article:tag' tag.pk %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        <ul>
            {% for month,days in date_archive %}
                {% for day in days %}
                    <li class="index_date"><a class="btn btn-warning btn-sm col-md-9" href="{% url 'article:archive' month day%}">{{ month }}月{{ day }}日</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>