{% extends 'article/base.html' %}
{% block content %}
    <h1>{{ article.title }}</h1>
    <p>
        首次创建于{{ article.created_time|date:"Y /m /d" }},最新修改时间{{ article.last_modified_time|date:"Y /m /d" }}
        属于<a href="{% url 'article:category' article.category.pk %}">{{ article.category }}</a>类
    </p>
    <p>
        标签集合
        {% for tag in article.tag.all %}
            <a href="{% url 'article:tag' tag.pk %}">{{ tag.name }}</a>
        {% endfor %}
    </p>
    <p>{{ article.body }}</p>
    <ul>
        <li>浏览量:{{ article.views }}</li>
        <li>点赞数:{{ article.likes }}</li>
        <li>评论数:</li>
    </ul>
    {% include 'article/comment.html' %}
{% endblock %}