{% extends 'article/base.html' %}
{% load paginate_tags %}
{% block content %}
    <div class="col-md-8">
    {% paginate article_list 3 %}
    {% for category in category_list %}
        <a href="{% url 'article:category' category.pk %}">{{ category.name }}</a>
    {% endfor %}
    {% for article in article_list %}
        <h2><a href="{% url 'article:detail' article.pk  %}">{{ article.title }}</a></h2>
        <p>
            Time: {{ article.created_time|date:"Y /m /d" }}
            <a href="{% url 'article:category' article.category.pk %}">{{ article.category }}</a>
        </p>
        <p>
            {% for tag in article.tag.all %}
                <a href="{% url 'article:tag' tag.pk %}">{{ tag.name }}</a>
            {% endfor %}
        </p>
        <p>{{ article.abstract }}</p>
        <a href="{% url 'article:detail' article.pk %}">Read More >>></a>
    {% endfor %}
    {% include 'article/pagination.html' %}
    </div>
    <div class="col-md-4">
        <ul>
            {% for tag in tag_list %}
                <li><a href="{% url 'article:tag' tag.pk %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        <br/><br/>
        <ul>
            {% for month,days in date_archive %}
                {% for day in days %}
                    <li><span>{{ month }}月</span><a href="{% url 'article:archive' month day %}">{{ day }}日</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}