{% extends 'article/base.html' %}
{% block content %}
    {% load paginate_tags %}
    {% paginate article_list 1 %}
    {% for category in category_list %}
        <a href="{% url 'article:category' category.pk %}">{{ category.name }}</a>
    {% endfor %}
    {% for article in article_list %}
        <h2><a href="{% url 'article:detail' article.pk  %}">{{ article.title }}</a></h2>
        <p>
            Time: {{ article.created_time|date:"Y /m /d" }}
            <a href="{% url 'article:category' article.category.pk %}">{{ article.category }}</a>
        </p>
        <p>{{ article.abstract }}</p>
        <a href="{% url 'article:detail' article.pk %}">Read More >>></a>
    {% endfor %}
    {% include 'article/pagination.html' %}
{% endblock %}