<nav>
    <ul class="pager">
        {% if obj_list.has_previous %}
            {% if search == True %}
                <li class="last_page"><a href="?s={{ s }}&page={{ obj_list.previous_page_number }}">上一页</a></li>
                {% else %}
                <li class="last_page"><a href="?page={{ obj_list.previous_page_number }}">上一页</a></li>
            {% endif %}
        {% endif %}
        {% if first_page == current_page %}
            <span class="current">1</span>
            {% else %}
            {% if search == True %}
                <li><a href="?s={{ s }}&page=1">1</a></li>
            {% else %}
                <li><a href="?page=1">1</a></li>
            {% endif %}
        {% endif %}
        {% if pages_first > 2 %}
            <span class="current">...</span>
        {% endif %}
        {% for page in pages %}
            {% if page == current_page %}
                <span class="current">{{ page }}</span>
                {% else %}
                {% if search == True %}
                    <li><a href="?s={{ s }}&page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if pages_last < last_page %}
            <span class="current">...</span>
        {% endif %}
        {% if last_page != 1 %}
            {% if last_page == current_page %}
                <span class="current">{{ last_page }}</span>
                {% else %}
                {% if search == True %}
                    <li><a href="?s={{ s }}&page={{ last_page }}">{{ last_page }}</a></li>
                {% else %}
                    <li><a href="?page={{ last_page }}">{{ last_page }}</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if obj_list.has_next %}
            {% if search == True %}
                <li class="next_page"><a href="?s={{ s }}&page={{ obj_list.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="next_page"><a href="?page={{ obj_list.next_page_number }}">下一页</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
