<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'article/css/template.css' %}">
    {% block mycss %}{% endblock %}
    <link rel="icon" href="{% static 'article/img/title.gif' %}">
    <script src="{% static 'lib/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
    {% block myjs %}{% endblock %}
</head>
<body>
{% block template %}
{% endblock %}
</body>
</html>